1.**What are data structures, and why are they important?**
-. A data structure is a format for organizing and managing data. It defines how the data is stored, how it can be accessed, and what operations can be performed on it.
Efficient Data Management
Help store, access, and manage large amounts of data quickly (e.g., databases, file systems).

Improved Performance
Choosing the right data structure can drastically improve the performance of your algorithm.

Code Clarity and Maintainability
Organizes data logically, making programs easier to understand and maintain.

Optimized Resource Use
Efficient use of memory and processing power by selecting the best structure for a task.

Enables Complex Operations
Some tasks like graph traversal, shortest path finding, or balancing a tree are only possible or efficient with proper data structures.

2. **Explain the difference between mutable and immutable data types with examples?**
-.  Difference Between Mutable and Immutable Data Types in Python
In Python, mutability refers to whether or not an object‚Äôs value can be changed after it is created.

‚úÖ Mutable Data Types
Can be changed after creation

You can modify, add, or remove elements without changing the object‚Äôs identity (memory address).

Examples:my_list = [1, 2, 3]
print(id(my_list))  # Memory address before change

my_list.append(4)
print(my_list)       # [1, 2, 3, 4]
print(id(my_list))  # Same memory address
üö´ Immutable Data Types
Cannot be changed after creation

Any operation that seems to modify the object actually creates a new object.

Examples:
int, float, str, tuple, bool, frozenset
my_str = "hello"
print(id(my_str))    # Memory address before change

my_str += " world"
print(my_str)        # "hello world"
print(id(my_str))    # Different memory address

3.**What are the main differences between lists and tuples in Python?**
-.In Python, the main difference between lists and tuples is that **lists are mutable**, meaning their elements can be changed, added, or removed, while **tuples are immutable** and cannot be modified after creation. Lists are defined using square brackets `[]` and support many built-in methods like `append()`, `remove()`, and `sort()`, whereas tuples are defined using parentheses `()` and offer fewer methods. Because of their mutability, lists use slightly more memory and are a bit slower than tuples, which are more memory-efficient and faster due to their immutability. Additionally, only tuples can be used as keys in dictionaries since they are hashable (if all elements inside are also hashable), while lists cannot. Therefore, **lists are preferred when the data is expected to change**, and **tuples are ideal for fixed or constant data collections**.

4. **Describe how dictionaries store data.**
-.In Python, dictionaries store data as key-value pairs. Each item in a dictionary consists of a key and a value, where the key is unique and is used to access the corresponding value.
Dictionaries use a hash table internally.

When you create a key-value pair, Python calculates a hash for the key, which determines where the value will be stored in memory.

This allows for fast lookups, insertions, and deletions, typically in constant time
ùëÇ
(
1
)
O(1).

5.**Why might you use a set instead of a list in Python?**
-.In Python 3, a **set** is used instead of a **list** when you need to store **unique elements** and perform **fast membership checks**. Sets automatically eliminate duplicate values and are implemented using hash tables, which makes operations like checking if an item exists significantly faster than in lists. Additionally, sets support efficient mathematical operations such as union, intersection, and difference, making them ideal for comparing collections. However, sets are **unordered** and do not support indexing or duplicate values, so they are not suitable when the order of elements or repeated items matters. Therefore, a set is preferred when uniqueness, performance, and set-based logic are more important than maintaining order or duplicates.

6. **What is a string in Python, and how is it different from a list?**
-.In Python, a string is a sequence of characters enclosed in single ('), double ("), or triple quotes (''' or """). It is used to represent textual data, such as words, sentences, or any combination of letters, numbers, and symbols.

A list, on the other hand, is a collection of ordered and mutable items, which can contain elements of different data types, including strings, numbers, or even other lists.

7.**How do tuples ensure data integrity in Python?**
-. In Python 3, tuples ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability protects the data from accidental or intentional modification, making tuples a reliable choice for storing constant or fixed information.

8.**What is a hash table, and how does it relate to dictionaries in Python?**
-.A hash table is a data structure that stores data in an unordered collection of key-value pairs, using a process called hashing to determine where each value is stored. It allows for fast data retrieval because it calculates a unique hash code for each key, which is used to determine the index where the corresponding value is stored in memory.

9.**Can lists contain different data types in Python?**
-.Yes, lists in Python can contain different data types. Python lists are heterogeneous, meaning they can store a mix of data types within the same list, including integers, strings, floats, booleans, other lists, or even objects.

10.**Explain why strings are immutable in Python?**
-.Strings are immutable in Python, meaning their contents cannot be changed after creation. This immutability ensures data integrity and prevents accidental modification, making programs more reliable and easier to debug. It also allows strings to be hashable, enabling their use as keys in dictionaries and elements in sets. Additionally, immutability improves performance through memory optimizations like string interning. Overall, Python makes strings immutable to enhance safety, efficiency, and predictability in code.

11.**What advantages do dictionaries offer over lists for certain tasks?**
-.Dictionaries offer several advantages over lists for certain tasks in Python. Unlike lists, which store elements by position, dictionaries store data as key-value pairs, allowing for **faster and more direct access to values using unique keys**. This makes dictionaries ideal for tasks that require **quick lookups, data labeling, or mapping relationships** between items. They are also more efficient for **searching and updating data** when the position of elements is unknown or irrelevant. Overall, dictionaries provide a more organized and faster way to manage data when key-based access is needed.

12.**Describe a scenario where using a tuple would be preferable over a list?**
-.A tuple would be preferable over a list in a scenario where the data should remain **constant and unchangeable**, such as storing a set of **fixed configuration values**, **coordinates**, or **database record fields**. For example, when representing the (latitude, longitude) of a location, a tuple ensures the values cannot be modified accidentally, maintaining **data integrity**. Additionally, because tuples are **immutable and hashable**, they can be safely used as **keys in dictionaries** or elements in sets, which lists cannot. Thus, tuples are ideal for situations that require **fixed, secure, and efficient data storage**.

13.**How do sets handle duplicate values in Python?**
-.In Python, sets automatically eliminate duplicate values.

When you create a set, any duplicate elements are removed and only unique values are stored. This is because sets are unordered collections of unique, immutable elements.

14.**How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?**
-.The `in` keyword in Python is used to check membership, but it behaves differently for lists and dictionaries. In a list, `in` checks whether a value exists among the list elements. In a dictionary, `in` checks whether a key exists in the dictionary, not the values. To check for a value in a dictionary, one must use the `values()` method.

15.**Can you modify the elements of a tuple? Explain why or why not?**
-.No, you **cannot modify the elements of a tuple** in Python because **tuples are immutable**. This means once a tuple is created, its elements cannot be changed, added, or removed. This immutability is enforced by Python to ensure data integrity and allow tuples to be used as **keys in dictionaries** and **elements in sets**, both of which require immutable types.

16.**What is a nested dictionary, and give an example of its use case?**
-.A nested dictionary is a dictionary where another dictionary is stored as a value. It allows you to organize complex data structures in a hierarchical form.

 Use Case:
Nested dictionaries are useful when you need to store structured data, such as student records, inventory systems, or JSON-like data.
example,
students = {
    "101": {"name": "Alice", "age": 20, "grade": "A"},
    "102": {"name": "Bob", "age": 22, "grade": "B"}
}
print(students["101"]["name"])  # Output: Alice

17.**Describe the time complexity of accessing elements in a dictionary?**
-.The time complexity of accessing elements in a dictionary in Python is on average **O(1)**, because dictionaries are implemented using hash tables. When a key is accessed, Python computes its hash and directly retrieves the corresponding value without scanning all elements. In rare cases, due to hash collisions, the time complexity can degrade to **O(n)**, but Python handles collisions efficiently, so the average performance remains constant time.

18.**In what situations are lists preferred over dictionaries?**
-.Lists are preferred over dictionaries when the data is ordered, indexed by position, and the primary need is to store a sequence of items that may include duplicates. They are ideal for situations where the order of elements matters, and where quick access by numerical index is required rather than by key.

19.**Why are dictionaries considered unordered, and how does that affect data retrieval**?
-.Dictionaries are considered unordered because they store key-value pairs based on the hash of the keys rather than their insertion order (prior to Python 3.7). Although modern Python versions preserve insertion order, this is not guaranteed behavior in all contexts. As a result, data retrieval in dictionaries is done by key lookup, not by position, meaning you cannot access items by index like in a list.

20.**Explain the difference between a list and a dictionary in terms of data retrieval.?**
-.The difference between a list and a dictionary in terms of data retrieval is that a list retrieves data using a **numerical index** based on the element‚Äôs position, while a dictionary retrieves data using a **unique key** associated with each value. This means lists are accessed by position, whereas dictionaries are accessed by key lookup.

# **PRACTICALE QUESTIONS**

1.Write a code to create a string with your name and print it.

In [1]:
name = "Avinash Sharma"
print(name)

Avinash Sharma

2.Write a code to find the length of the string "Hello World"?

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

4.Write a code to convert the string "hello" to uppercase?

In [4]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].?

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15.. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ("apple", "banana", "orange")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

16.. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {
    "name": "Avinash",
    "age": 25,
    "city": "Mirzapur"
}
print(person)

{'name': 'Avinash', 'age': 25, 'city': 'Mirzapur'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**bold text**

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
is_city_present = 'city' in person
print(is_city_present)

True

26.. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 28, 'city': 'Delhi'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 28, 'city': 'Delhi'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [27]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [26, 48, 63, 77, 77]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", words[3])

Element at third index: date

29. Write a code to combine two dictionaries into one and print the result.

In [29]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [30]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'apple', 'banana', 'cherry'}